


{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Text File</title>
    
    <!-- Cyberpunk Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/upload_file.css' %}">
    

</head>
<body>
    <div class="container">
        <h1 class="glitch" data-text="Upload a Text File">Upload a Text File</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

    </div>
</body>
{% endblock %}